@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/65dca84df5fe416ca32f498e.65dca84ef5fe416ca32f4991.h9ZrxL0.hcp.png");

@font-face {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GothicA1-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.line-12 {
  height: 19px;
  width: 3px;
}

.number {
  left: 24px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.memoji {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4000px;
  margin-top: -964px;
  padding: 410px 0;
  width: 5000px;
}

.frame-1 {
  align-items: flex-end;
  display: inline-flex;
  gap: 48px;
  margin-left: 1.0px;
  position: relative;
}

.image-43 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 433px;
}

.frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 47px;
  margin-left: 6.0px;
  margin-top: 174px;
  position: relative;
}

.image-45 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 428px;
}

.image-26 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 427px;
}

.image-21 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 431px;
}

.frame-3 {
  align-items: flex-end;
  display: inline-flex;
  gap: 51px;
  margin-right: 2.0px;
  margin-top: 174px;
  position: relative;
}

.frame-4 {
  align-items: flex-end;
  display: inline-flex;
  gap: 51px;
  margin-left: 14.0px;
  margin-top: 87px;
  position: relative;
}

.frame-5 {
  align-items: flex-start;
  display: inline-flex;
  gap: 51px;
  margin-left: 14.0px;
  margin-top: 127px;
  position: relative;
}

.frame-6 {
  align-items: flex-start;
  align-self: flex-start;
  display: inline-flex;
  gap: 51px;
  margin-left: 399px;
  margin-top: 97px;
  position: relative;
}

.polygon-16 {
  height: 28px;
  left: 212px;
  position: absolute;
  top: 12px;
  width: 22px;
}

.group-20012 {
  align-items: center;
  flex-direction: column;
  left: 945px;
  min-height: 258px;
  top: 1656px;
  width: 416px;
}

.polygon-16-1 {
  height: 28px;
  left: 294px;
  position: absolute;
  top: 13px;
  width: 22px;
}

.rectangle-161123987 {
  height: 628px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1920px;
}

.image-7 {
  height: 219px;
  left: 1223px;
  position: absolute;
  top: 32px;
  width: 219px;
}

.ellipse-258 {
  background-color: var(--white);
  border-radius: 2.5px;
  height: 5px;
  left: 612px;
  position: absolute;
  top: 414px;
  width: 5px;
}

.rectangle-1289 {
  height: 218px;
  left: 1525px;
  position: absolute;
  top: 599px;
  width: 11px;
}

.group-19992 {
  height: 518px;
  left: 776px;
  position: absolute;
  top: 83px;
  width: 425px;
}

.frame-20002 {
  align-items: flex-start;
  display: inline-flex;
  gap: 56px;
  left: 0;
  position: absolute;
  top: 0;
}

.group-199 {
  height: 90.98px;
  position: relative;
  width: 90.98px;
}

.group-20007 {
  height: 34px;
  left: 797px;
  position: absolute;
  top: 608px;
  width: 326px;
}

.frame-13 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 873px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 1970px;
  width: 174px;
}

.faq {
  letter-spacing: 0;
  line-height: 34.1px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-21 {
  align-items: flex-start;
  display: inline-flex;
  gap: 40px;
  left: 650px;
  position: absolute;
  top: 2064px;
}

.frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.what {
  letter-spacing: 0;
  line-height: 30.7px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.when {
  letter-spacing: 0;
  line-height: 30.7px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.where {
  letter-spacing: 0;
  line-height: 30.7px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.who {
  letter-spacing: 0;
  line-height: 30.7px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.how {
  letter-spacing: 0;
  line-height: 30.7px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.rectangle-5854 {
  background-color: var(--portage-2);
  height: 19px;
  left: 8px;
  position: absolute;
  top: 22px;
  width: 404px;
}

.object-other-18 {
  background-image: url(../img/object-other-12@2x.png);
  height: 154px;
  margin-top: 33px;
  width: 154px;
}

.rectangle-5854-1 {
  left: 9px;
  width: 338px;
}

.no {
  left: 0;
  letter-spacing: 0;
  line-height: 42.4px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.object-other-20 {
  background-image: url(../img/object-other-15-1@2x.png);
  height: 191px;
  margin-left: 1.0px;
  margin-top: 9px;
  width: 191px;
}

.rectangle-5854-2 {
  left: 7px;
  width: 263px;
}

.no-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 42.4px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.object-other-03 {
  background-image: url(../img/object-other-03@2x.png);
  height: 192px;
  margin-top: 4px;
  width: 192px;
}

.rectangle-5854-3 {
  left: 4px;
  width: 379px;
}

.object-other-19 {
  background-image: url(../img/object-other-08@2x.png);
  height: 190px;
  left: 266px;
  position: absolute;
  top: 0;
  width: 190px;
}

.rectangle-5854-4 {
  left: 0;
  width: 379px;
}

.object-other-17 {
  background-image: url(../img/object-other-11@2x.png);
  height: 180px;
  margin-left: 1.0px;
  margin-top: 25px;
  width: 181px;
}

.image-3-1 {
  height: 421px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.object-other {
  background-position: 50% 50%;
  background-size: cover;
}

.rectangle-5854-5 {
  background-color: var(--portage-2);
  height: 19px;
  position: absolute;
  top: 22px;
}

.team-1 {
  letter-spacing: -1.20px;
  line-height: 40px;
  white-space: nowrap;
}

.rectangle {
  left: 0;
  position: absolute;
  width: 1920px;
}

.rectangle-161123988 {
  background-color: var(--white);
  height: 151px;
  left: 0;
  position: absolute;
  top: 664px;
  width: 1920px;
}