/* screen - u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 */

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  overflow: hidden;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group22 {
  height: 5246px;
  position: relative;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group10 {
  height: 5246px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .rectangle-5885 {
  background-color: var(--white);
  height: 151px;
  left: 0;
  position: absolute;
  top: 666px;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-283 {
  left: 795px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-284 {
  left: 933px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-285 {
  left: 1097px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-286 {
  left: 1261px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-287 {
  left: 1425px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 0;
  position: absolute;
  top: 4972px;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .line-69 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 1920px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .line-64 {
  height: 5246px;
  left: 366px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .line-65 {
  height: 5246px;
  left: 1554px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .group {
  height: 33px;
  left: 451px;
  position: absolute;
  top: 10px;
  width: 27px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image-2 {
  height: 413px;
  left: 1210px;
  position: absolute;
  top: 379px;
  width: 413px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image-3 {
  height: 65px;
  left: 434px;
  position: absolute;
  top: 138px;
  width: 65px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image-4 {
  height: 47px;
  left: 1374px;
  position: absolute;
  top: 340px;
  width: 47px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image-5 {
  height: 47px;
  left: 441px;
  position: absolute;
  top: 592px;
  width: 47px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image-6 {
  height: 237px;
  left: 437px;
  position: absolute;
  top: 345px;
  width: 237px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group9 {
  height: 91px;
  left: 474px;
  position: absolute;
  top: 474px;
  width: 973px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-301 {
  left: 763px;
  letter-spacing: -0.80px;
  line-height: 40px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-302 {
  left: 910px;
  letter-spacing: -0.80px;
  line-height: 40px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
  width: 34px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .frame-14-1 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 60px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .frame-14 {
  align-items: center;
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage);
  border-radius: 60px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group14 {
  align-items: center;
  background-image: url(../img/union-first.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 475px;
  min-height: 463px;
  padding: 58.0px 236px;
  position: absolute;
  top: 2150px;
  width: 1006px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group16 {
  height: 42px;
  margin-top: 46px;
  position: relative;
  width: 420px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-290 {
  left: 0;
  letter-spacing: 0;
  line-height: 42.4px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-288 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
  min-height: 62px;
  min-width: 498px;
  text-align: center;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .span0 {
  line-height: 38.6px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .span {
  line-height: 28.0px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group11 {
  align-items: center;
  background-image: url(../img/group-19245.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 457px;
  min-height: 463px;
  padding: 50.0px 324px;
  position: absolute;
  top: 2687px;
  width: 1006px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group17 {
  align-self: flex-end;
  height: 42px;
  margin-top: 51px;
  position: relative;
  width: 357px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-291 {
  letter-spacing: 0;
  line-height: 28.0px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 56px;
  min-width: 345px;
  text-align: center;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group13 {
  align-items: center;
  background-image: url(../img/union-1.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 457px;
  min-height: 463px;
  padding: 51.0px 288px;
  position: absolute;
  top: 3260px;
  width: 1006px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group18 {
  height: 42px;
  margin-top: 53px;
  position: relative;
  width: 276px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-289 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 28.0px;
  margin-top: 14px;
  min-height: 56px;
  min-width: 429px;
  text-align: center;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group-container {
  align-items: flex-end;
  background-image: url(../img/union-fourth.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 457px;
  min-height: 463px;
  padding: 51.0px 141px;
  position: absolute;
  top: 3766px;
  width: 1006px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group20 {
  align-self: center;
  height: 42px;
  margin-left: 1.0px;
  margin-top: 53px;
  position: relative;
  width: 387px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-292 {
  left: 0;
  letter-spacing: 0;
  line-height: 42.4px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group19 {
  height: 241px;
  position: relative;
  width: 723px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .sky {
  left: 0;
  letter-spacing: 0;
  line-height: 28.0px;
  position: absolute;
  text-align: center;
  top: 185px;
  width: 723px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group12 {
  align-items: center;
  background-image: url(../img/union-3.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 457px;
  min-height: 463px;
  padding: 51.0px 141px;
  position: absolute;
  top: 4322px;
  width: 1006px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group21 {
  height: 42px;
  margin-left: 1.0px;
  margin-top: 53px;
  position: relative;
  width: 379px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-294 {
  left: 5px;
  letter-spacing: 0;
  line-height: 42.4px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-293 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 28.0px;
  margin-top: 5px;
  min-height: 56px;
  text-align: center;
  width: 723px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .group-19504 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 67px;
  left: 471px;
  min-height: 718px;
  position: absolute;
  top: 912px;
  width: 1002px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group6 {
  align-items: center;
  background-color: var(--white);
  border-radius: 45px;
  box-shadow: 0px 4px 30px #0000001a;
  display: flex;
  height: 637px;
  margin-right: 2.0px;
  min-width: 1000px;
  padding: 0 17px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group7 {
  align-items: center;
  background-color: var(--alto);
  border-radius: 16.5px;
  display: flex;
  height: 33px;
  margin-bottom: 12.0px;
  min-width: 33px;
  padding: 0 10px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .vector {
  height: 13px;
  width: 10px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .flex-col {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 571px;
  width: 734px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .frame-12 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 174px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-295 {
  letter-spacing: 0;
  line-height: 34.1px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-296 {
  letter-spacing: -1.20px;
  line-height: 45px;
  margin-left: 1.0px;
  margin-top: 44px;
  min-height: 90px;
  min-width: 291px;
  text-align: center;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .span0-1 {
  letter-spacing: -0.36px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .span1 {
  color: var(--da01ck);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: -0.36px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .view {
  align-items: flex-start;
  background-color: #7878780d;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px 4px 30px #0000001a;
  display: flex;
  gap: 3px;
  height: 341px;
  margin-top: 42px;
  overflow: hidden;
  padding: 0 18px;
  width: 734px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 2px;
  min-height: 336px;
  width: 643px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group4 {
  height: 104px;
  margin-left: 7.0px;
  position: relative;
  width: 390px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .x1-oo {
  color: var(--x1);
  font-family: var(--font-family-pretendard-semibold);
  font-size: 26px;
  font-weight: 600;
  left: 169px;
  letter-spacing: -1.04px;
  line-height: 40px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .i-phone-with-notch {
  align-items: flex-start;
  display: flex;
  height: 104px;
  left: 0;
  min-width: 390px;
  padding: 6px 0;
  position: absolute;
  top: 0;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .left-area {
  align-items: flex-start;
  display: flex;
  height: 70px;
  margin-left: -163px;
  margin-top: 5px;
  padding: 11px 52.5px;
  width: 141px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-300 {
  color: var(--granite-gray);
  font-family: var(--font-family-sf_pro_text-semibold);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.68px;
  line-height: normal;
  margin-left: 1px;
  min-height: 20px;
  min-width: 35px;
  position: relative;
  white-space: nowrap;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .privacy-indicator-none {
  height: 6px;
  margin-left: 465px;
  width: 6px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .auto-layout {
  align-items: center;
  align-self: center;
  display: inline-flex;
  gap: 4px;
  justify-content: flex-end;
  margin-bottom: 30.0px;
  margin-left: 21px;
  position: relative;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .sim-1-single-sim {
  height: 14px;
  position: relative;
  width: 20px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .bar-container {
  align-items: flex-end;
  display: flex;
  gap: 2px;
  min-width: 19px;
  position: relative;
  top: 1px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .bar-1 {
  background-color: var(--granite-gray);
  border-radius: 1px;
  height: 5px;
  margin-bottom: 0;
  width: 3px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .bar-2 {
  background-color: var(--granite-gray);
  border-radius: 1px;
  height: 7px;
  width: 3px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .bar-3 {
  background-color: var(--granite-gray);
  border-radius: 1px;
  height: 10px;
  margin-bottom: 0;
  width: 3px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .bar-4 {
  background-color: var(--granite-gray);
  border-radius: 1px;
  height: 12px;
  width: 3px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .network-wi-fi-full {
  height: 12px;
  position: relative;
  width: 20px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .battery-full-uncharged {
  height: 14px;
  position: relative;
  width: 28px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .battery-f-container {
  height: 13px;
  position: relative;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .battery-fill {
  background-color: var(--granite-gray);
  border-radius: 1.33px;
  height: 9px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 21px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .battery-frame {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 179px;
  min-width: 643px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group2 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--alto);
  border-radius: 25px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-bottom: 54.55px;
  min-width: 50px;
  padding: 7px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-299 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 34px;
  text-align: center;
  width: 35px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group1 {
  height: 55px;
  margin-left: 4px;
  position: relative;
  width: 156px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .group-1 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 0;
  min-width: 156px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .union {
  height: 55px;
  transform: rotate(-180deg);
  width: 156px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-297 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  left: 11px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 133px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group5 {
  align-items: flex-end;
  align-self: flex-end;
  background-image: url(../img/union.svg);
  background-size: 100% 100%;
  display: flex;
  height: 142px;
  margin-left: 69px;
  min-width: 364px;
  padding: 7.5px 30px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .text-298 {
  color: #595757;
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 122px;
  width: 304px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .home-indicator {
  align-items: flex-end;
  display: flex;
  height: 29px;
  margin-left: 51.0px;
  min-width: 390px;
  padding: 6.8px 136.8px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .home-indicator-1 {
  background-color: #979797;
  border-radius: 85.3px;
  height: 4px;
  width: 114px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group3 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--da01ck);
  border-radius: 25px;
  display: flex;
  height: 50px;
  margin-bottom: 29px;
  min-width: 50px;
  padding: 13px 15px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .group-2 {
  height: 24px;
  width: 19px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .overlap-group8 {
  align-items: center;
  background-color: var(--x2);
  border-radius: 16.5px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  margin-bottom: 12.0px;
  margin-left: 78px;
  min-width: 33px;
  padding: 0 10px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .ellipse-container {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  margin-right: 4.0px;
  min-width: 102px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .ellipse-31 {
  background-color: var(--alto);
  border-radius: 7px;
  height: 14px;
  width: 14px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .ellipse-320 {
  background-color: var(--da01ck);
  border-radius: 7px;
  height: 14px;
  width: 14px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4358u4454u4363u4469u4523u4369u4454u4363u4469u4364u4469-u4370u4449u4520u4361u4467u4536-u4352u4458u4523u4357u4469 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}