/* screen - u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 */

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 1340px;
  overflow: hidden;
  width: 1920px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group1 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 93px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .x2 {
  height: 33px;
  left: 544px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 27px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-243 {
  height: 26px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-45 {
  left: 888px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-46 {
  left: 1026px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-47 {
  left: 1190px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-48 {
  left: 1354px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-49 {
  left: 1518px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-69 {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-122 {
  align-items: flex-start;
  gap: 1180px;
  height: 4479px;
  left: 459px;
  min-width: 1184px;
  padding: 539px 0;
  top: 0;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-6 {
  height: 1340px;
  width: 4px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 805px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group {
  height: 53px;
  left: 1067px;
  position: absolute;
  top: 663px;
  width: 171px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-50 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span {
  letter-spacing: -0.36px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20006 {
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  top: 0;
  width: 50px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-119 {
  height: 3px;
  margin-top: -3px;
  width: 50px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20005 {
  align-items: flex-end;
  flex-direction: column;
  left: 121px;
  min-height: 19px;
  top: 34px;
  width: 50px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-121 {
  height: 3px;
  width: 50px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 3px;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5859 {
  background-color: var(--da01ck);
  border-radius: 60px;
  height: 63px;
  left: 500px;
  position: absolute;
  top: 1084px;
  width: 230px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-51 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-52 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-53 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-54 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-55 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-56 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .pt {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-261 {
  background-color: var(--portage-3);
  border-radius: 22px;
  height: 44px;
  left: 738px;
  position: absolute;
  top: 1093px;
  width: 44px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-57 {
  left: 848px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 751px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span0 {
  color: var(--da01ck);
  font-family: var(--font-family-pretendard-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: -0.16px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-1 {
  letter-spacing: -0.16px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-2 {
  letter-spacing: -0.10px;
  line-height: 24px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-240 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1073px;
  padding: 2px 16px;
  position: absolute;
  top: 905px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-58 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19826 {
  height: 20px;
  left: 1130px;
  position: absolute;
  top: 877px;
  width: 48px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-59 {
  left: 865px;
  letter-spacing: -0.80px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 972px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5939 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212, -4px -4px 6px #32323212;
  height: 326px;
  left: 849px;
  position: absolute;
  top: 1079px;
  width: 609px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-60 {
  color: transparent;
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 1039px;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  top: 1102px;
  white-space: nowrap;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-3 {
  letter-spacing: -0.23px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19827 {
  align-items: center;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1121px;
  padding: 2px 16px;
  position: absolute;
  top: 1180px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-61 {
  letter-spacing: -1.00px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19828 {
  align-items: center;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 916px;
  padding: 2px 16px;
  position: absolute;
  top: 1180px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-62 {
  letter-spacing: -1.00px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19829 {
  align-items: center;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1218px;
  padding: 2px 16px;
  position: absolute;
  top: 1297px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .mmi {
  letter-spacing: -1.00px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19830 {
  align-items: center;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 916px;
  padding: 2px 16px;
  position: absolute;
  top: 1297px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-63 {
  letter-spacing: -1.00px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 93px;
  position: absolute;
  top: 1605px;
  width: 1920px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-3 {
  height: 421px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}

.u4358u4455u4523u4364u4453u4536-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group {
  display: flex;
  position: absolute;
}