/* screen - u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 */

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  overflow: hidden;
  width: 1920px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group7 {
  height: 2747px;
  position: relative;
  width: 1920px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-1227.png);
  background-size: 100% 100%;
  display: flex;
  gap: 78px;
  height: 776px;
  left: 440px;
  min-width: 1040px;
  padding: 26px 30px;
  position: absolute;
  top: 201px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 317px;
  width: 183px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .group-148 {
  height: 259px;
  width: 183px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .image-2 {
  height: 18px;
  margin-left: 14.53px;
  margin-top: 20px;
  width: 90px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .image-3 {
  height: 14px;
  margin-left: 14.64px;
  margin-top: 6px;
  width: 51px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group6 {
  align-self: center;
  height: 635px;
  margin-top: 10.37px;
  position: relative;
  width: 645px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .group-150 {
  height: 377px;
  left: 142px;
  position: absolute;
  top: 112px;
  width: 326px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .x11-1 {
  height: 635px;
  left: 0;
  position: absolute;
  top: 0;
  width: 645px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0px 4px 30px #00000014;
  display: flex;
  height: 277px;
  left: 480px;
  min-width: 280px;
  padding: 50px 10px;
  position: absolute;
  top: 1749px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-270 {
  letter-spacing: 0;
  line-height: 24.2px;
  min-height: 174px;
  text-align: center;
  width: 260px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0px 4px 30px #00000014;
  display: flex;
  height: 277px;
  justify-content: flex-end;
  left: 820px;
  min-width: 280px;
  padding: 50px 20px;
  position: absolute;
  top: 1749px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .x24 {
  letter-spacing: 0;
  line-height: 24.2px;
  min-height: 170px;
  text-align: center;
  width: 239px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0px 4px 30px #00000014;
  display: flex;
  height: 277px;
  justify-content: flex-end;
  left: 1160px;
  min-width: 280px;
  padding: 20px 38px;
  position: absolute;
  top: 1749px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-272 {
  letter-spacing: 0;
  line-height: 24.2px;
  min-height: 201px;
  text-align: center;
  width: 203px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-269 {
  left: 514px;
  letter-spacing: 0;
  line-height: 29.6px;
  position: absolute;
  text-align: center;
  top: 1442px;
  width: 212px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-271 {
  left: 857px;
  letter-spacing: 0;
  line-height: 29.6px;
  position: absolute;
  text-align: center;
  top: 1442px;
  width: 206px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .image-1-1 {
  height: 142px;
  left: 890px;
  object-fit: cover;
  position: absolute;
  top: 1552px;
  width: 141px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group3 {
  height: 279px;
  left: 1179px;
  position: absolute;
  top: 1442px;
  width: 242px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .kakao-talk_20230504_134931772-1 {
  height: 196px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 196px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-279 {
  left: 0;
  letter-spacing: 0;
  line-height: 29.6px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 242px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .overlap-group1 {
  height: 2747px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  top: 0;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-273 {
  left: 795px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-274 {
  left: 933px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-275 {
  left: 1097px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-276 {
  left: 1261px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-277 {
  left: 1425px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .line-69 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 1920px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .line-64 {
  height: 2747px;
  left: 366px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .line-65 {
  height: 2747px;
  left: 1554px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  top: 2473px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .group {
  height: 33px;
  left: 451px;
  position: absolute;
  top: 10px;
  width: 27px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .frame-22 {
  height: 54px;
  left: 873px;
  position: absolute;
  top: 136px;
  width: 174px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .frame-23 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 850px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 1183px;
  width: 220px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-278 {
  letter-spacing: 0;
  line-height: 34.1px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-280 {
  left: 590px;
  letter-spacing: -1.20px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 1331px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-281 {
  left: 942px;
  letter-spacing: -1.20px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 1331px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .text-282 {
  left: 1282px;
  letter-spacing: -1.20px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 1331px;
  white-space: nowrap;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .image-4 {
  height: 127px;
  left: 556px;
  position: absolute;
  top: 1567px;
  width: 127px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4352u4461u4363u4466u4520u4366u4453u4527u4370u4449u4520 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}
