/* screen - u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 */

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 1753px;
  overflow: hidden;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .overlap-group1 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .overlap-group2 {
  height: 4479px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2011px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 91px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .x2 {
  height: 31px;
  left: 541px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 28px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .image-243 {
  height: 26px;
  left: 577px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-100 {
  left: 886px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-101 {
  left: 1024px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-102 {
  left: 1188px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-103 {
  left: 1352px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-104 {
  left: 1516px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .line-69 {
  height: 1px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .group-122 {
  align-items: flex-start;
  gap: 1180px;
  height: 4479px;
  left: 457px;
  min-width: 1184px;
  padding: 539px 0;
  top: 0;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .line-6 {
  height: 1753px;
  width: 4px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 803px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .overlap-group {
  height: 53px;
  left: 1085px;
  position: absolute;
  top: 855px;
  width: 133px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .pt {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .group-20006 {
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  top: 0;
  width: 50px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .group-20005 {
  align-items: flex-end;
  flex-direction: column;
  left: 83px;
  min-height: 19px;
  top: 34px;
  width: 50px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .line-123 {
  height: 91px;
  left: 1145px;
  position: absolute;
  top: 745px;
  width: 11px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .x3n {
  letter-spacing: -0.80px;
  line-height: normal;
  min-height: 24px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-105 {
  align-self: flex-end;
  color: transparent;
  font-family: var(--font-family-recipekoreaotf-medium);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-right: 4px;
  min-width: 234px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .span {
  letter-spacing: -0.23px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 0;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5859 {
  background-color: var(--x25vozy);
  border-radius: 60px;
  height: 63px;
  left: 498px;
  position: absolute;
  top: 720px;
  width: 230px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-106 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-107 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-108 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-109 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-110 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-111 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .pt-1 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .ellipse-261 {
  background-color: var(--portage);
  border-radius: 22px;
  height: 44px;
  left: 736px;
  position: absolute;
  top: 729px;
  width: 44px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-112 {
  left: 997px;
  letter-spacing: -0.80px;
  line-height: 35px;
  position: absolute;
  top: 1040px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .span-1 {
  letter-spacing: -0.16px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-113 {
  left: 960px;
  letter-spacing: -0.80px;
  line-height: 35px;
  position: absolute;
  top: 1503px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5904 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 267px;
  left: 909px;
  position: absolute;
  top: 1088px;
  width: 484px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5905 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 267px;
  left: 909px;
  position: absolute;
  top: 1551px;
  width: 484px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .frame-240 {
  align-items: center;
  background-color: var(--sa1eqi);
  border-radius: 16px;
  display: flex;
  gap: 24px;
  height: 63px;
  left: 1035px;
  padding: 8px 0px 8px 36px;
  position: absolute;
  top: 1239px;
  width: 222px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .frame-242 {
  align-items: center;
  background-color: var(--sa1eqi);
  border-radius: 16px;
  display: flex;
  gap: 24px;
  height: 63px;
  left: 1035px;
  padding: 8px 0px 8px 36px;
  position: absolute;
  top: 1702px;
  width: 222px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-114 {
  left: 1045px;
  letter-spacing: -1.20px;
  line-height: 51.2px;
  position: absolute;
  top: 1151px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .span-2 {
  letter-spacing: -0.36px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .text-115 {
  left: 996px;
  letter-spacing: -1.20px;
  line-height: 51.2px;
  position: absolute;
  top: 1614px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 91px;
  position: absolute;
  top: 2018px;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .frame-14 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage-2);
  border-radius: 60px;
  height: 61px;
  left: 1123px;
  overflow: hidden;
  position: absolute;
  top: 956px;
  width: 61px;
}

.u4361u4462u4354u4467u4540-pt-u4361u4450u4520u4363u4451u4520 .frame-14-1 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage-2);
  border-radius: 60px;
  height: 61px;
  left: 1123px;
  overflow: hidden;
  position: absolute;
  top: 1419px;
  width: 61px;
}
