/* screen - u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 */

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 3780px;
  overflow: hidden;
  width: 1920px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group7 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 93px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .x2 {
  height: 31px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 28px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-243 {
  height: 26px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-116 {
  left: 888px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-117 {
  left: 1026px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-118 {
  left: 1190px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-119 {
  left: 1354px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-120 {
  left: 1518px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-69 {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-122 {
  align-items: flex-end;
  display: flex;
  gap: 1180px;
  height: 4479px;
  left: 459px;
  min-width: 1184px;
  padding: 160px 0;
  position: absolute;
  top: 0;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-6 {
  height: 3780px;
  width: 4px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 805px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group {
  height: 53px;
  left: 1068px;
  position: absolute;
  top: 663px;
  width: 171px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-121 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span {
  letter-spacing: -0.36px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20006 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  position: absolute;
  top: 0;
  width: 50px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20005 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 121px;
  min-height: 19px;
  position: absolute;
  top: 34px;
  width: 50px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-123 {
  height: 91px;
  left: 1148px;
  position: absolute;
  top: 716px;
  width: 11px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group1 {
  height: 80px;
  left: 954px;
  position: absolute;
  top: 818px;
  width: 398px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-122 {
  left: 0;
  letter-spacing: -0.80px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-1 {
  letter-spacing: -0.16px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span1-2 {
  letter-spacing: -0.16px;
  text-decoration: underline;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-569 {
  background-color: var(--x1);
  border-radius: 2px;
  height: 4px;
  left: 324px;
  position: absolute;
  top: 40px;
  width: 4px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-570 {
  background-color: var(--x1);
  border-radius: 2px;
  height: 4px;
  left: 247px;
  position: absolute;
  top: 40px;
  width: 4px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-240 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1075px;
  padding: 2px 16px;
  position: absolute;
  top: 982px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-1 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19826 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 954px;
  width: 48px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-124 {
  left: 1003px;
  letter-spacing: -0.80px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 1142px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-14 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage-2);
  border-radius: 60px;
  height: 61px;
  left: 1123px;
  overflow: hidden;
  position: absolute;
  top: 1074px;
  width: 61px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20036 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 30px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  display: flex;
  gap: 16px;
  height: 123px;
  left: 911px;
  min-width: 484px;
  padding: 35px 73px;
  position: absolute;
  top: 1221px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-125 {
  letter-spacing: -1.20px;
  line-height: 51.2px;
  min-width: 262px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span1 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: -0.36px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span2 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: -0.36px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19828 {
  align-items: center;
  align-self: center;
  border: 2px solid;
  border-color: var(--x25vozy);
  border-radius: 84px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 3.0px;
  padding: 0px 8px;
  position: relative;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-12 {
  letter-spacing: -0.80px;
  line-height: 40px;
  margin-top: -2.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .x3n {
  left: 985px;
  letter-spacing: -0.80px;
  line-height: 34.1px;
  position: absolute;
  text-align: center;
  top: 1460px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-14-1 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage-2);
  border-radius: 60px;
  height: 61px;
  left: 1123px;
  overflow: hidden;
  position: absolute;
  top: 1392px;
  width: 61px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5905 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 30px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 185px;
  left: 911px;
  position: absolute;
  top: 1503px;
  width: 484px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-127 {
  left: 1023px;
  letter-spacing: -1.20px;
  line-height: 51.2px;
  position: absolute;
  top: 1538px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20055 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 40px;
  left: 1020px;
  min-width: 267px;
  position: absolute;
  top: 1612px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19828-1 {
  align-items: center;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--notymg);
  border-radius: 84px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  padding: 0px 8px;
  position: relative;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-128 {
  color: var(--notymg);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: -0.80px;
  line-height: 40px;
  margin-top: -2.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19831 {
  align-items: center;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--x25vozy);
  border-radius: 84px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  padding: 0px 8px;
  position: relative;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19832 {
  align-items: center;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--xd6s9h);
  border-radius: 84px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  padding: 0px 8px;
  position: relative;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .final-call {
  color: var(--xd6s9h);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: -0.80px;
  line-height: 40px;
  margin-top: -2.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-131 {
  height: 11px;
  left: 1028px;
  position: absolute;
  top: 1591px;
  width: 237px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19831-1 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1001px;
  padding: 2px 16px;
  position: absolute;
  top: 1820px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19832-1 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 1792px;
  width: 48px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20056 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 30px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 313px;
  left: 911px;
  position: absolute;
  top: 1912px;
  width: 484px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20063 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 30px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 313px;
  left: 911px;
  position: absolute;
  top: 2634px;
  width: 484px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20064 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 30px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 313px;
  left: 911px;
  position: absolute;
  top: 2995px;
  width: 484px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20062 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 30px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 313px;
  left: 911px;
  position: absolute;
  top: 2273px;
  width: 484px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group2 {
  height: 84px;
  left: 1003px;
  position: absolute;
  top: 1936px;
  width: 301px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .final-c {
  left: 0;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  text-align: center;
  top: 2px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-2 {
  letter-spacing: -0.23px;
  text-decoration: underline;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-3 {
  letter-spacing: -0.23px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-4 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: -0.23px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-570-1 {
  background-color: var(--x1);
  border-radius: 2px;
  height: 4px;
  left: 41px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-571 {
  background-color: var(--x1);
  border-radius: 2px;
  height: 4px;
  left: 124px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-572 {
  background-color: var(--x1);
  border-radius: 2px;
  height: 4px;
  left: 215px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20060 {
  align-items: center;
  display: flex;
  height: 97px;
  left: 968px;
  min-width: 369px;
  position: absolute;
  top: 2068px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--notymg);
  border-radius: 48.5px;
  display: flex;
  height: 97px;
  min-width: 97px;
  padding: 31px 13px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-131 {
  letter-spacing: -0.80px;
  line-height: 34.1px;
  min-width: 71px;
  text-align: center;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-2 {
  height: 34px;
  margin-left: 14px;
  width: 17px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group1-1 {
  align-items: flex-end;
  background-color: var(--x25vozy);
  border-radius: 48.5px;
  display: flex;
  height: 97px;
  margin-left: 9px;
  min-width: 97px;
  padding: 31px 21px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-132 {
  letter-spacing: -0.80px;
  line-height: 34.1px;
  min-width: 55px;
  text-align: center;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--xd6s9h);
  border-radius: 48.5px;
  display: flex;
  height: 97px;
  justify-content: flex-end;
  margin-left: 9px;
  min-width: 97px;
  padding: 31px 9px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .final-call-1 {
  letter-spacing: -0.80px;
  line-height: 34.1px;
  min-width: 78px;
  text-align: center;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-132 {
  height: 16px;
  left: 981px;
  position: absolute;
  top: 2036px;
  width: 316px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .mask-group {
  height: 313px;
  left: 911px;
  position: absolute;
  top: 2273px;
  width: 494px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .only-me {
  left: 1015px;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  text-align: center;
  top: 2296px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text_label {
  color: transparent;
  font-family: var(--font-family-pretendard-medium);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 1003px;
  letter-spacing: -0.64px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 2410px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-5 {
  letter-spacing: -0.10px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span3 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-bold);
  font-weight: 700;
  letter-spacing: -0.10px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-133 {
  left: 1010px;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  text-align: center;
  top: 2657px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-134 {
  left: 1003px;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  top: 2755px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-6 {
  letter-spacing: -0.16px;
  line-height: 34.1px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-135 {
  left: 994px;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  top: 3018px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-136 {
  left: 998px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 3099px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span1-1 {
  letter-spacing: -0.10px;
  text-decoration: underline;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19833 {
  height: 20px;
  left: 950px;
  position: absolute;
  top: 3098px;
  width: 48px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-137 {
  left: 998px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 3166px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19834 {
  height: 20px;
  left: 950px;
  position: absolute;
  top: 3166px;
  width: 48px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-138 {
  left: 998px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 3233px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19835 {
  height: 20px;
  left: 950px;
  position: absolute;
  top: 3234px;
  width: 48px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19836 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1093px;
  padding: 2px 16px;
  position: absolute;
  top: 3440px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19837 {
  height: 20px;
  left: 1128px;
  position: absolute;
  top: 3412px;
  width: 48px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 904px;
  min-width: 129px;
  padding: 32px 28px;
  position: absolute;
  top: 3532px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-140 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
  min-width: 67px;
  text-align: center;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20018 {
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 64.5px;
  height: 129px;
  left: 1088px;
  position: absolute;
  top: 3532px;
  width: 129px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group4 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1272px;
  min-width: 129px;
  padding: 32px 26px;
  position: absolute;
  top: 3532px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-141 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
  min-width: 71px;
  text-align: center;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group5 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1088px;
  min-width: 129px;
  padding: 31px 17px;
  position: absolute;
  top: 3716px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-14 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
  min-width: 88px;
  text-align: center;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-17 {
  height: 34px;
  left: 1055px;
  position: absolute;
  top: 3580px;
  width: 17px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-22 {
  height: 34px;
  left: 1239px;
  position: absolute;
  top: 3580px;
  width: 17px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-23 {
  height: 17px;
  left: 1320px;
  position: absolute;
  top: 3683px;
  width: 34px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-24 {
  height: 34px;
  left: 1233px;
  position: absolute;
  top: 3764px;
  width: 17px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group6 {
  align-items: flex-start;
  background-color: var(--x25vozy);
  border: 3px solid;
  border-color: var(--x25vozy);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1271px;
  min-width: 129px;
  padding: 31px 17px;
  position: absolute;
  top: 3716px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-144 {
  left: 1106px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 3565px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-145 {
  color: var(--x1);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-xs);
  font-weight: 600;
  left: 1401px;
  letter-spacing: -0.64px;
  line-height: 24px;
  position: absolute;
  top: 3559px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 93px;
  position: absolute;
  top: 4045px;
  width: 1920px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 3px;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5859 {
  background-color: var(--x25vozy);
  border-radius: 60px;
  height: 63px;
  left: 500px;
  position: absolute;
  top: 902px;
  width: 230px;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-146 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-147 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-148 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-149 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-150 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-151 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .pt {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4364u4453u4540u4361u4469u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-261 {
  background-color: var(--portage);
  border-radius: 22px;
  height: 44px;
  left: 738px;
  position: absolute;
  top: 911px;
  width: 44px;
}
