/* screen - u4361u4462u4354u4467u4540-pt-1 */

.u4361u4462u4354u4467u4540-pt-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 4231px;
  overflow: hidden;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-1 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-left: -93px;
  margin-top: -539px;
  min-height: 4770px;
  width: 2013px;
}

.u4361u4462u4354u4467u4540-pt-1 .overlap-group2 {
  height: 4479px;
  position: relative;
  width: 2013px;
}

.u4361u4462u4354u4467u4540-pt-1 .overlap-group1 {
  height: 4479px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2013px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5904 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 511px;
  left: 806px;
  position: absolute;
  top: 892px;
  width: 696px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 93px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-1 .x2 {
  height: 31px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 28px;
}

.u4361u4462u4354u4467u4540-pt-1 .image-243 {
  height: 26px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-63 {
  left: 888px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-64 {
  left: 1026px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-65 {
  left: 1190px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-66 {
  left: 1354px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-67 {
  left: 1518px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .line-69 {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-1 .group-122 {
  align-items: flex-end;
  display: flex;
  gap: 1180px;
  height: 4479px;
  left: 459px;
  min-width: 1184px;
  position: absolute;
  top: 0;
}

.u4361u4462u4354u4467u4540-pt-1 .line-6 {
  height: 3940px;
  width: 4px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 805px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 3px;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5859 {
  background-color: var(--x25vozy);
  border-radius: 60px;
  height: 63px;
  left: 500px;
  position: absolute;
  top: 720px;
  width: 230px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-68 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-69 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-70 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-71 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-72 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-73 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .pt {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .ellipse-261 {
  background-color: var(--portage);
  border-radius: 22px;
  height: 44px;
  left: 738px;
  position: absolute;
  top: 729px;
  width: 44px;
}

.u4361u4462u4354u4467u4540-pt-1 .overlap-group {
  height: 53px;
  left: 1087px;
  position: absolute;
  top: 663px;
  width: 133px;
}

.u4361u4462u4354u4467u4540-pt-1 .pt-1 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .span {
  letter-spacing: -0.36px;
}

.u4361u4462u4354u4467u4540-pt-1 .group-20006 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  position: absolute;
  top: 0;
  width: 50px;
}

.u4361u4462u4354u4467u4540-pt-1 .group-20005 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 83px;
  min-height: 19px;
  position: absolute;
  top: 34px;
  width: 50px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-240 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1075px;
  padding: 2px 16px;
  position: absolute;
  top: 800px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-74 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19827 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1118px;
  padding: 2px 16px;
  position: absolute;
  top: 1545px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19848 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1116px;
  padding: 2px 16px;
  position: absolute;
  top: 2464px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19826 {
  height: 20px;
  left: 1130px;
  position: absolute;
  top: 772px;
  width: 48px;
}

.u4361u4462u4354u4467u4540-pt-1 .group-20071 {
  height: 414px;
  left: 823px;
  position: absolute;
  top: 941px;
  width: 662px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-76 {
  left: 979px;
  letter-spacing: -0.96px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1612px;
}

.u4361u4462u4354u4467u4540-pt-1 .span-1 {
  letter-spacing: -0.23px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-77 {
  left: 1001px;
  letter-spacing: -0.96px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2531px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19844 {
  height: 30px;
  left: 1138px;
  position: absolute;
  top: 1507px;
  width: 30px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19849 {
  height: 30px;
  left: 1138px;
  position: absolute;
  top: 2426px;
  width: 30px;
}

.u4361u4462u4354u4467u4540-pt-1 .ex {
  left: 1399px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1739px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .ex-1 {
  top: 1971px;
}

.u4361u4462u4354u4467u4540-pt-1 .ex-2 {
  top: 2203px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5931 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--x25vozy);
  border-radius: 30px;
  height: 72px;
  left: 806px;
  position: absolute;
  top: 1698px;
  width: 366px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5933 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--x25vozy);
  border-radius: 30px;
  height: 72px;
  left: 806px;
  position: absolute;
  top: 1930px;
  width: 366px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5935 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--x25vozy);
  border-radius: 30px;
  height: 72px;
  left: 806px;
  position: absolute;
  top: 2162px;
  width: 366px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5932 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 30px;
  height: 80px;
  left: 1135px;
  position: absolute;
  top: 1778px;
  width: 366px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5934 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 30px;
  height: 80px;
  left: 1135px;
  position: absolute;
  top: 2010px;
  width: 366px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5936 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 30px;
  height: 80px;
  left: 1135px;
  position: absolute;
  top: 2242px;
  width: 366px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5937 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 30px;
  height: 71px;
  left: 990px;
  position: absolute;
  top: 2791px;
  width: 326px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5939 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--sa1eqi);
  border-radius: 30px;
  height: 71px;
  left: 990px;
  position: absolute;
  top: 3495px;
  width: 326px;
}

.u4361u4462u4354u4467u4540-pt-1 .step-1 {
  left: 831px;
  top: 1713px;
}

.u4361u4462u4354u4467u4540-pt-1 .step-2 {
  left: 834px;
  top: 1945px;
}

.u4361u4462u4354u4467u4540-pt-1 .step-3 {
  left: 834px;
  top: 2176px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-78 {
  color: transparent;
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 1182px;
  letter-spacing: -0.96px;
  line-height: 36px;
  position: absolute;
  top: 2248px;
}

.u4361u4462u4354u4467u4540-pt-1 .span-2 {
  letter-spacing: -0.16px;
  line-height: 30px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-79 {
  left: 1175px;
  letter-spacing: -0.96px;
  line-height: 36px;
  position: absolute;
  top: 1781px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-80 {
  left: 1235px;
  letter-spacing: -0.96px;
  line-height: 36px;
  position: absolute;
  top: 2013px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19845 {
  height: 58px;
  left: 1176px;
  position: absolute;
  top: 1716px;
  width: 58px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19846 {
  height: 58px;
  left: 1176px;
  position: absolute;
  top: 1948px;
  width: 58px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19847 {
  height: 58px;
  left: 1176px;
  position: absolute;
  top: 2180px;
  width: 58px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-81 {
  left: 1051px;
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  top: 2805px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-82 {
  left: 1018px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 3509px;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .text-83 {
  left: 884px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 2648px;
}

.u4361u4462u4354u4467u4540-pt-1 .span-3 {
  letter-spacing: -0.16px;
}

.u4361u4462u4354u4467u4540-pt-1 .span6 {
  letter-spacing: -0.16px;
  text-decoration: underline;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5938 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 446px;
  left: 848px;
  position: absolute;
  top: 2886px;
  width: 609px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5940 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212 , -4px -4px 6px #32323212;
  height: 706px;
  left: 848px;
  position: absolute;
  top: 3590px;
  width: 609px;
}

.u4361u4462u4354u4467u4540-pt-1 .image-384 {
  height: 374px;
  left: 898px;
  object-fit: cover;
  position: absolute;
  top: 2922px;
  width: 509px;
}

.u4361u4462u4354u4467u4540-pt-1 .line-123 {
  height: 61px;
  left: 1148px;
  position: absolute;
  top: 2569px;
  width: 11px;
}

.u4361u4462u4354u4467u4540-pt-1 .ellipse-575 {
  background-color: var(--sa1eqi);
  border-radius: 5px;
  height: 10px;
  left: 1148px;
  position: absolute;
  top: 2765px;
  width: 10px;
}

.u4361u4462u4354u4467u4540-pt-1 .ellipse-576 {
  background-color: var(--sa1eqi);
  border-radius: 5px;
  height: 10px;
  left: 1148px;
  position: absolute;
  top: 3469px;
  width: 10px;
}

.u4361u4462u4354u4467u4540-pt-1 .frame-19850 {
  height: 65px;
  left: 1120px;
  position: absolute;
  top: 3368px;
  width: 65px;
}

.u4361u4462u4354u4467u4540-pt-1 .image-382 {
  height: 311px;
  left: 898px;
  object-fit: cover;
  position: absolute;
  top: 3626px;
  width: 509px;
}

.u4361u4462u4354u4467u4540-pt-1 .image-383 {
  height: 307px;
  left: 898px;
  object-fit: cover;
  position: absolute;
  top: 3953px;
  width: 509px;
}

.u4361u4462u4354u4467u4540-pt-1 .text-75 {
  left: 1663px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1455px;
}

.u4361u4462u4354u4467u4540-pt-1 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  width: 1920px;
}

.u4361u4462u4354u4467u4540-pt-1 .ex-3 {
  left: 1399px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.u4361u4462u4354u4467u4540-pt-1 .step {
  letter-spacing: -0.96px;
  line-height: 40.9px;
  position: absolute;
  white-space: nowrap;
}
