/* screen - u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 */

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 1943px;
  overflow: hidden;
  width: 1920px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group7 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 93px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group {
  height: 53px;
  left: 1040px;
  position: absolute;
  top: 663px;
  width: 226px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-168 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span {
  letter-spacing: -0.36px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20006 {
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  top: 0;
  width: 50px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-119 {
  height: 3px;
  margin-top: -3px;
  width: 50px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-20005 {
  align-items: flex-end;
  flex-direction: column;
  left: 176px;
  min-height: 19px;
  top: 34px;
  width: 50px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-121 {
  height: 3px;
  width: 50px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .x2 {
  height: 31px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 28px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-243 {
  height: 26px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-169 {
  left: 888px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-170 {
  left: 1026px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-171 {
  left: 1190px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-172 {
  left: 1354px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-173 {
  left: 1518px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-69 {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group-122 {
  align-items: flex-start;
  gap: 1180px;
  height: 4479px;
  left: 459px;
  min-width: 1184px;
  padding: 539px 0;
  top: 0;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-6 {
  height: 1943px;
  width: 4px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 805px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-240 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1116px;
  padding: 2px 16px;
  position: absolute;
  top: 800px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-17 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-175 {
  left: 977px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 859px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19826 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 772px;
  width: 48px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-241 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1076px;
  padding: 2px 14px;
  position: absolute;
  top: 1004px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19827 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 976px;
  width: 48px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-177 {
  left: 962px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1063px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span-1 {
  letter-spacing: -0.16px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19828 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1096px;
  padding: 2px 14px;
  position: absolute;
  top: 1178px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-1 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19829 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 1150px;
  width: 48px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-179 {
  left: 924px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1237px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19830 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1097px;
  padding: 2px 14px;
  position: absolute;
  top: 1412px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19831 {
  height: 20px;
  left: 1130px;
  position: absolute;
  top: 1384px;
  width: 48px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group1 {
  align-items: flex-end;
  background-color: var(--da01ck);
  border: 3px solid;
  border-color: var(--da01ck);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1087px;
  min-width: 129px;
  padding: 36px 12px;
  position: absolute;
  top: 1664px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-181 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 53px;
  min-width: 103px;
  text-align: center;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .span1 {
  color: var(--white);
  font-family: var(--font-family-pretendard-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: -0.10px;
  line-height: 24px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--da01ck);
  border: 3px solid;
  border-color: var(--da01ck);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1271px;
  min-width: 129px;
  padding: 47px 12px;
  position: absolute;
  top: 1664px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-182 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-183 {
  left: 1208px;
  letter-spacing: -0.64px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1867px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-184 {
  left: 895px;
  letter-spacing: -0.64px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1829px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--fzblfd);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 904px;
  min-width: 129px;
  padding: 32px 28px;
  position: absolute;
  top: 1480px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-185 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
  min-width: 67px;
  text-align: center;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group4 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--fzblfd);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1088px;
  min-width: 129px;
  padding: 47px 26px;
  position: absolute;
  top: 1480px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-186 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-width: 71px;
  text-align: center;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group5 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--fzblfd);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 1272px;
  min-width: 129px;
  padding: 32px 9px;
  position: absolute;
  top: 1480px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-187 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
  min-width: 104px;
  text-align: center;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .overlap-group6 {
  align-items: flex-end;
  border: 3px solid;
  border-color: var(--fzblfd);
  border-radius: 64.5px;
  display: flex;
  height: 129px;
  left: 903px;
  min-width: 129px;
  padding: 29px 17px;
  position: absolute;
  top: 1664px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-188 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
  min-width: 88px;
  text-align: center;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-17 {
  height: 34px;
  left: 1055px;
  position: absolute;
  top: 1528px;
  width: 17px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-22 {
  height: 34px;
  left: 1239px;
  position: absolute;
  top: 1528px;
  width: 17px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-23 {
  height: 17px;
  left: 1320px;
  position: absolute;
  top: 1631px;
  width: 34px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-24 {
  height: 34px;
  left: 1233px;
  position: absolute;
  top: 1712px;
  width: 17px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .polygon-25 {
  height: 34px;
  left: 1049px;
  position: absolute;
  top: 1712px;
  width: 17px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19832 {
  align-items: center;
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(134, 141, 251, 0.6), rgba(134, 141, 251, 0) 50.4%, rgba(134, 141, 251, 0.6) 100%) 1;
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1208px;
  padding: 10px;
  position: absolute;
  top: 1892px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-1-1 {
  letter-spacing: -0.64px;
  line-height: 24px;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  width: fit-content;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .frame-19833 {
  align-items: center;
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(134, 141, 251, 0.6), rgba(134, 141, 251, 0) 50.4%, rgba(134, 141, 251, 0.6) 100%) 1;
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 888px;
  padding: 10px;
  position: absolute;
  top: 1862px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-126 {
  height: 75px;
  left: 1330px;
  position: absolute;
  top: 1801px;
  width: 16px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .line-127 {
  height: 56px;
  left: 1096px;
  position: absolute;
  top: 1800px;
  width: 56px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 93px;
  position: absolute;
  top: 2208px;
  width: 1920px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 3px;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .rectangle-5859 {
  background-color: var(--da01ck);
  border-radius: 60px;
  height: 63px;
  left: 500px;
  position: absolute;
  top: 629px;
  width: 230px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-191 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-192 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-193 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-194 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-195 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .text-196 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .pt {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .ellipse-261 {
  background-color: var(--portage-3);
  border-radius: 22px;
  height: 44px;
  left: 738px;
  position: absolute;
  top: 638px;
  width: 44px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-3 {
  height: 421px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}

.u4361u4454u4368u4467u4520-u4366u4453u4535u4361u4449u4520-u4367u4453u4523u4361u4453u4527u4368u4469u4540 .group {
  display: flex;
  position: absolute;
}