/* screen - u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 */

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  overflow: hidden;
  width: 1920px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .overlap-group3 {
  height: 2747px;
  position: relative;
  width: 1920px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .overlap-group {
  height: 2747px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  top: 0;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .text-257 {
  left: 795px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .text-258 {
  left: 933px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .text-259 {
  left: 1097px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .text-260 {
  left: 1261px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .text-261 {
  left: 1425px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .line-69 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 1920px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .line-64 {
  height: 2747px;
  left: 366px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .line-65 {
  height: 2747px;
  left: 1554px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  top: 2473px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group {
  height: 33px;
  left: 451px;
  position: absolute;
  top: 10px;
  width: 27px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .overlap-group2 {
  align-items: flex-start;
  border: 2.5px solid;
  border-color: var(--da01ck);
  border-radius: 30px;
  display: flex;
  height: 94px;
  left: 651px;
  min-width: 186px;
  padding: 23.5px 26.5px;
  position: absolute;
  top: 183px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .team {
  letter-spacing: -1.20px;
  line-height: 40px;
  width: 129px;
  white-space: nowrap;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .span0 {
  color: #2a55fb;
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: -0.36px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .span1 {
  color: var(--x2);
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: -0.36px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--da01ck);
  border-radius: 30px;
  display: flex;
  height: 94px;
  left: 1085px;
  min-width: 186px;
  padding: 26px 28px;
  position: absolute;
  top: 183px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-20016 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 731px;
  min-height: 77px;
  position: absolute;
  top: 324px;
  width: 459px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .ellipse-container {
  align-items: flex-start;
  display: flex;
  margin-right: 73.0px;
  min-width: 58px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .ellipse-332 {
  background-color: var(--da01ck);
  border-radius: 2.5px;
  height: 5px;
  width: 5px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .ellipse-333 {
  background-color: var(--da01ck);
  border-radius: 2.5px;
  height: 5px;
  margin-left: 15px;
  width: 5px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .ellipse-334 {
  background-color: var(--da01ck);
  border-radius: 2.5px;
  height: 5px;
  margin-left: 28px;
  width: 5px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .x01 {
  color: transparent;
  font-family: var(--font-family-pretendard-medium);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 37.5px;
  margin-right: 2.0px;
  min-height: 72px;
  text-align: center;
  width: 457px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .span1-1 {
  color: var(--da01ck);
  font-family: var(--font-family-pretendard-bold);
  font-weight: 700;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .span2 {
  color: var(--heavy-metal);
  font-weight: 500;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-20018 {
  align-items: flex-start;
  display: flex;
  gap: 194px;
  height: 167px;
  left: 648px;
  min-width: 624px;
  position: absolute;
  top: 564px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-2002 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20020 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x3);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 21px;
  margin-left: -2.00px;
  margin-right: -1.78px;
  margin-top: -2.00px;
  padding: 4px 14px;
  position: relative;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-20011 {
  height: 28.15px;
  margin-left: -0.70px;
  position: relative;
  width: 26.18px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-1942 {
  height: 31px;
  position: relative;
  width: 141px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19411 {
  align-items: flex-end;
  display: flex;
  height: 31px;
  min-width: 143px;
  padding: 3.7px 0.8px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .image-4 {
  height: 23px;
  width: 139px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20021 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x3);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  gap: 18px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  padding: 4px 14px;
  position: relative;
  width: 219px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .vector {
  height: 23px;
  position: relative;
  width: 29px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19423 {
  height: 31px;
  position: relative;
  width: 97px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19416 {
  align-items: flex-end;
  display: flex;
  height: 31px;
  min-width: 99px;
  padding: 3.7px 0.8px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .image-5 {
  height: 23px;
  width: 93px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20022 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x3);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 19px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  padding: 4px 14px;
  position: relative;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .vector-1 {
  height: 28px;
  position: relative;
  width: 27px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19418 {
  align-items: flex-end;
  display: flex;
  height: 31px;
  min-width: 143px;
  padding: 3.7px 0.3px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .image {
  height: 23px;
  width: 138px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20023 {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--x3);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  gap: 22px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -2.00px;
  padding: 4px 14px;
  position: relative;
  width: 219px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-1 {
  height: 27.98px;
  position: relative;
  width: 27.98px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .image-1 {
  flex: 0 0 auto;
  position: relative;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20024 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x3);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  padding: 4px 14px;
  position: relative;
  width: 219px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-2 {
  height: 13.62px;
  position: relative;
  width: 40.87px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20025 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x3);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 17px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  padding: 0px 9px;
  position: relative;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .filter-alt {
  height: 38px;
  position: relative;
  width: 39px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19419 {
  align-items: flex-end;
  display: flex;
  height: 31px;
  min-width: 143px;
  padding: 3.7px 0.6px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .frame-20010 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 27px;
  left: 629px;
  position: absolute;
  top: 782px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19489 {
  height: 418.83px;
  margin-left: -27.31px;
  margin-right: -27.31px;
  margin-top: -26.00px;
  position: relative;
  width: 716.56px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19491 {
  height: 418.83px;
  margin-left: -27.31px;
  margin-right: -27.31px;
  position: relative;
  width: 716.56px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .group-19488 {
  height: 421.78px;
  margin-bottom: -33.21px;
  margin-left: -30.00px;
  margin-right: -30.00px;
  position: relative;
  width: 721.94px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .image-2 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .image-3 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .text {
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.u4367u4453u4523u4361u4453u4527u4368u4453u4523u4368u4467-u4364u4453u4540u4361u4469-u4370u4453u4523u4364u4462u4540 .team {
  color: var(--white);
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: -1.20px;
  line-height: 40px;
  white-space: nowrap;
}