/* screen - u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 */

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  overflow: hidden;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .overlap-group {
  height: 2747px;
  position: relative;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .rectangle-161123987 {
  height: 628px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-2 {
  height: 413px;
  left: 1210px;
  position: absolute;
  top: 379px;
  width: 413px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .rectangle-5885 {
  background-color: var(--white);
  height: 151px;
  left: 0;
  position: absolute;
  top: 664px;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-3 {
  height: 65px;
  left: 434px;
  position: absolute;
  top: 138px;
  width: 65px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-4 {
  height: 47px;
  left: 1374px;
  position: absolute;
  top: 340px;
  width: 47px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-5 {
  height: 47px;
  left: 441px;
  position: absolute;
  top: 592px;
  width: 47px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-6 {
  height: 237px;
  left: 437px;
  position: absolute;
  top: 345px;
  width: 237px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-7 {
  height: 219px;
  left: 1223px;
  position: absolute;
  top: 32px;
  width: 219px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .ellipse-25 {
  background-color: var(--white);
  border-radius: 2.5px;
  height: 5px;
  left: 612px;
  position: absolute;
  top: 414px;
  width: 5px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .group-19992 {
  height: 518px;
  left: 776px;
  position: absolute;
  top: 83px;
  width: 425px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-8 {
  height: 65px;
  left: 521px;
  position: absolute;
  top: 32px;
  width: 65px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .rectangle-5886 {
  height: 218px;
  left: 1525px;
  position: absolute;
  top: 599px;
  width: 11px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .text-1 {
  left: 795px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .text-2 {
  left: 933px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .text-3 {
  left: 1097px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .text-4 {
  left: 1261px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .text-5 {
  color: var(--x5ebnpl);
  font-family: var(--font-family-pretendard-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  left: 1425px;
  font-style: normal;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .line-69 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .line-64 {
  height: 2747px;
  left: 366px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .line-65 {
  height: 2747px;
  left: 1554px;
  position: absolute;
  top: 0;
  width: 4px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .rectangle-5849 {
  background-color: #f1f1f1;
  height: 274px;
  left: 0;
  position: absolute;
  top: 2473px;
  width: 1920px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-222 {
  height: 60px;
  left: 872px;
  position: absolute;
  top: 407px;
  width: 176px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .rectangle-1289 {
  height: 218px;
  left: 1525px;
  position: absolute;
  top: 761px;
  width: 11px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .x070-8979-9902 {
  height: 59px;
  left: 665px;
  position: absolute;
  top: 492px;
  width: 592px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .group {
  height: 33px;
  left: 451px;
  position: absolute;
  top: 10px;
  width: 27px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .memoji {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4000px;
  margin-top: -964px;
  padding: 410px 0;
  width: 5000px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-1 {
  align-items: flex-end;
  display: inline-flex;
  gap: 48px;
  margin-left: 1.0px;
  position: relative;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-3-1 {
  height: 421px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-43 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 433px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 47px;
  margin-left: 6.0px;
  margin-top: 174px;
  position: relative;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-45 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 428px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-26 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 427px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .image-21 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 431px;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-3 {
  align-items: flex-end;
  display: inline-flex;
  gap: 51px;
  margin-right: 2.0px;
  margin-top: 174px;
  position: relative;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-4 {
  align-items: flex-end;
  display: inline-flex;
  gap: 51px;
  margin-left: 14.0px;
  margin-top: 87px;
  position: relative;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  gap: 51px;
  margin-left: 14.0px;
  margin-top: 127px;
  position: relative;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .frame-6 {
  align-items: flex-start;
  align-self: flex-start;
  display: inline-flex;
  gap: 51px;
  margin-left: 399px;
  margin-top: 97px;
  position: relative;
}

.u4361u4449u4540u4355u4449u4535u4361u4469u4523u4366u4453u4540 .text {
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}