/* screen - u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 */

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 1909px;
  overflow: hidden;
  width: 1920px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .overlap-group2 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .overlap-group3 {
  height: 4479px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 2011px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 0;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .rectangle-5859 {
  background-color: var(--da01ck);
  border-radius: 60px;
  height: 63px;
  left: 498px;
  position: absolute;
  top: 629px;
  width: 230px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-219 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-220 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-221 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-222 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-223 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-224 {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .pt {
  left: 525px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .ellipse-261 {
  background-color: var(--portage-3);
  border-radius: 22px;
  height: 44px;
  left: 736px;
  position: absolute;
  top: 638px;
  width: 44px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 91px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .x2 {
  height: 33px;
  left: 541px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 27px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .image-243 {
  height: 26px;
  left: 577px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-225 {
  left: 886px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-226 {
  left: 1024px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-227 {
  left: 1188px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-228 {
  left: 1352px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-229 {
  left: 1516px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .line-69 {
  height: 1px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .group-122 {
  align-items: flex-start;
  gap: 1180px;
  height: 4479px;
  left: 457px;
  min-width: 1184px;
  padding: 539px 0;
  top: 0;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .line-6 {
  height: 1909px;
  width: 4px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 803px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .overlap-group {
  height: 53px;
  left: 974px;
  position: absolute;
  top: 859px;
  width: 355px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-230 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .span {
  letter-spacing: -0.36px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .group-20006 {
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  top: 0;
  width: 60px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .line-119 {
  height: 3px;
  margin-top: -3px;
  width: 60px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .group-20005 {
  align-items: flex-end;
  flex-direction: column;
  left: 295px;
  min-height: 19px;
  top: 34px;
  width: 60px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .line-121 {
  height: 3px;
  width: 60px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .line-123 {
  height: 91px;
  left: 1145px;
  position: absolute;
  top: 749px;
  width: 11px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .group-20011 {
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  left: 909px;
  min-height: 462px;
  top: 1045px;
  width: 488px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-235 {
  letter-spacing: -0.80px;
  line-height: 35px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .span-1 {
  letter-spacing: -0.16px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212, -4px -4px 6px #32323212;
  display: flex;
  flex-direction: column;
  min-height: 411px;
  padding: 39px 110px;
  width: 484px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-234 {
  align-self: center;
  letter-spacing: -1.20px;
  line-height: 51.2px;
  margin-right: 1.0px;
  min-width: 237px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .frame-234 {
  align-items: flex-start;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: flex;
  gap: 24px;
  margin-top: 40px;
  padding: 8px 0px 8px 36px;
  position: relative;
  width: 258px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-23 {
  letter-spacing: -1.00px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .frame-23 {
  align-items: flex-start;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: flex;
  gap: 24px;
  margin-top: 24px;
  padding: 8px 0px 8px 36px;
  position: relative;
  width: 258px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .rectangle-5904 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--cararra);
  border-radius: 60px;
  box-shadow: 4px 4px 6px #32323212, -4px -4px 6px #32323212;
  height: 267px;
  left: 909px;
  position: absolute;
  top: 1707px;
  width: 484px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-238 {
  letter-spacing: -0.80px;
  line-height: 35px;
  margin-right: 4.0px;
  min-width: 412px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-237 {
  letter-spacing: -1.20px;
  line-height: 51.2px;
  margin-right: 3.0px;
  margin-top: 76px;
  min-width: 237px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .frame-240 {
  align-items: flex-start;
  background-color: var(--fzblfd);
  border-radius: 16px;
  display: flex;
  gap: 24px;
  margin-right: 3.0px;
  margin-top: 40px;
  padding: 8px 0px 8px 36px;
  position: relative;
  width: 343px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 91px;
  position: absolute;
  top: 2174px;
  width: 1920px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-239 {
  left: 1023px;
  letter-spacing: -0.96px;
  line-height: 40px;
  position: absolute;
  top: 654px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .span-2 {
  letter-spacing: -0.23px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .span-3 {
  letter-spacing: -0.23px;
  text-decoration: underline;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .text-240 {
  left: 1092px;
  letter-spacing: -0.96px;
  line-height: 40px;
  position: absolute;
  top: 698px;
  white-space: nowrap;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .frame-14 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage);
  border-radius: 60px;
  height: 61px;
  left: 1123px;
  overflow: hidden;
  position: absolute;
  top: 960px;
  width: 61px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .frame-14-1 {
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--portage);
  border-radius: 60px;
  height: 61px;
  left: 1123px;
  overflow: hidden;
  position: absolute;
  top: 1571px;
  width: 61px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .image-3 {
  height: 421px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}

.u4361u4450u4540u4352u4469u4359u4462-u4367u4453u4523u4361u4453u4527u4368u4469u4540-u4361u4450u4520u4363u4451u4520 .group {
  display: flex;
  position: absolute;
}