/* screen - u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 */

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 2086px;
  overflow: hidden;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .overlap-group1 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 93px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .x2 {
  height: 31px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 28px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .image-243 {
  height: 26px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-123 {
  left: 888px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-124 {
  left: 1026px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-125 {
  left: 1190px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-126 {
  left: 1354px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-127 {
  left: 1518px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-69 {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-122 {
  align-items: flex-start;
  gap: 1180px;
  height: 4479px;
  left: 459px;
  min-width: 1184px;
  padding: 539px 0;
  top: 0;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-6 {
  height: 2086px;
  width: 4px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 805px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .overlap-group {
  height: 53px;
  left: 1040px;
  position: absolute;
  top: 663px;
  width: 226px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-128 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .span {
  letter-spacing: -0.36px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20006 {
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  top: 0;
  width: 50px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-119 {
  height: 3px;
  margin-top: -3px;
  width: 50px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20005 {
  align-items: flex-end;
  flex-direction: column;
  left: 176px;
  min-height: 19px;
  top: 34px;
  width: 50px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-121 {
  height: 3px;
  width: 50px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-240 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1117px;
  padding: 2px 16px;
  position: absolute;
  top: 800px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-1 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-130 {
  left: 945px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 859px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19826 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 772px;
  width: 48px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-241 {
  align-items: center;
  background-color: var(--da01ck);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1077px;
  padding: 2px 14px;
  position: absolute;
  top: 1004px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19827 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 976px;
  width: 48px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-132 {
  left: 964px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1063px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .span-1 {
  letter-spacing: -0.16px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 93px;
  position: absolute;
  top: 2351px;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 3px;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5859 {
  background-color: var(--da01ck);
  border-radius: 60px;
  height: 63px;
  left: 500px;
  position: absolute;
  top: 629px;
  width: 230px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-133 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-134 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-135 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-136 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-137 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-138 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .pt {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .ellipse-261 {
  background-color: var(--portage-3);
  border-radius: 22px;
  height: 44px;
  left: 738px;
  position: absolute;
  top: 638px;
  width: 44px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .image {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .image-3 {
  height: 421px;
  object-fit: cover;
  position: relative;
  width: 420px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .image-1 {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 434px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group {
  display: flex;
  position: absolute;
}