/* screen - u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 */

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10774px;
  height: 2086px;
  overflow: hidden;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .overlap-group1 {
  height: 4479px;
  margin-left: -93px;
  margin-top: -539px;
  position: relative;
  width: 2013px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5846 {
  background-color: var(--white);
  height: 52px;
  left: 93px;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .x2 {
  height: 31px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 549px;
  width: 28px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .image-243 {
  height: 26px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 59px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-1-1 {
  left: 888px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-2 {
  left: 1026px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-3 {
  left: 1190px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-4 {
  left: 1354px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-5 {
  left: 1518px;
  letter-spacing: -0.64px;
  line-height: normal;
  position: absolute;
  top: 555px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-69 {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 590px;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-122 {
  align-items: flex-start;
  display: flex;
  gap: 1180px;
  height: 4479px;
  left: 459px;
  min-width: 1184px;
  padding: 539px 0;
  position: absolute;
  top: 0;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-6 {
  height: 2086px;
  width: 4px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5866 {
  border: 3px solid;
  border-color: var(--bittersweet);
  height: 3866px;
  left: 805px;
  position: absolute;
  top: 535px;
  width: 696px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .overlap-group {
  height: 53px;
  left: 1040px;
  position: absolute;
  top: 663px;
  width: 226px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-6 {
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 52.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .span {
  letter-spacing: -0.36px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20006 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 19px;
  position: absolute;
  top: 0;
  width: 50px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20005 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 176px;
  min-height: 19px;
  position: absolute;
  top: 34px;
  width: 50px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-240 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1117px;
  padding: 2px 16px;
  position: absolute;
  top: 800px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-8 {
  left: 945px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 859px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19826 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 772px;
  width: 48px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-241 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1077px;
  padding: 2px 14px;
  position: absolute;
  top: 1004px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19827 {
  height: 20px;
  left: 1129px;
  position: absolute;
  top: 976px;
  width: 48px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-10 {
  left: 964px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1063px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .span-1 {
  letter-spacing: -0.16px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5849 {
  background-color: var(--x5);
  height: 274px;
  left: 93px;
  position: absolute;
  top: 2351px;
  width: 1920px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5850 {
  background-color: var(--x5);
  border-radius: 60px;
  height: 691px;
  left: 3px;
  position: absolute;
  top: 588px;
  transform: rotate(90.00deg);
  width: 686px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .rectangle-5859 {
  background-color: var(--x25vozy);
  border-radius: 60px;
  height: 63px;
  left: 500px;
  position: absolute;
  top: 629px;
  width: 230px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-11 {
  color: var(--white);
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 639px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-12 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-13 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 912px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-14 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1094px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-15 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1185px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-16 {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 1003px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .pt {
  left: 527px;
  letter-spacing: 0;
  line-height: 40.9px;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .ellipse-261 {
  background-color: var(--portage);
  border-radius: 22px;
  height: 44px;
  left: 738px;
  position: absolute;
  top: 638px;
  width: 44px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19828 {
  align-items: center;
  background-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1078px;
  padding: 2px 14px;
  position: absolute;
  top: 1178px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-17 {
  letter-spacing: -0.96px;
  line-height: 40px;
  margin-top: -3.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19829 {
  height: 20px;
  left: 1130px;
  position: absolute;
  top: 1150px;
  width: 48px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-18 {
  left: 944px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1235px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .line-123 {
  height: 91px;
  left: 1149px;
  position: absolute;
  top: 1312px;
  width: 11px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19830 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1113px;
  padding: 2px 14px;
  position: absolute;
  top: 1422px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-1 {
  letter-spacing: -0.80px;
  line-height: 40px;
  margin-top: -2.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19831 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1113px;
  padding: 2px 14px;
  position: absolute;
  top: 1590px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .frame-19832 {
  align-items: center;
  border: 2px solid;
  border-color: var(--x25vozy);
  border-radius: 16px;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  left: 1113px;
  padding: 2px 14px;
  position: absolute;
  top: 2061px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-22 {
  left: 1036px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1481px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .polygon-24 {
  height: 17px;
  left: 1138px;
  position: absolute;
  top: 1878px;
  width: 34px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-23 {
  left: 967px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1918px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-24 {
  left: 1008px;
  letter-spacing: -0.64px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1964px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-25 {
  left: 1010px;
  letter-spacing: -0.80px;
  line-height: 30px;
  position: absolute;
  top: 2120px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20031 {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 985px;
  min-height: 198px;
  position: absolute;
  top: 1650px;
  width: 338px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20030 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 30px;
  min-width: 282px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .ellipse-55 {
  background-color: var(--sa1eqi);
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-26 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-width: 264px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20029 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 60px;
  min-width: 299px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .ellipse-552 {
  background-color: var(--sa1eqi);
  border-radius: 4px;
  height: 8px;
  margin-top: 11px;
  width: 8px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-27 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-height: 60px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20028 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 30px;
  min-width: 340px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-28 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-width: 322px;
  white-space: nowrap;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .group-20027 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 30px;
  min-width: 270px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .ellipse-554 {
  background-color: var(--sa1eqi);
  border-radius: 4px;
  height: 8px;
  margin-top: 0;
  width: 8px;
}

.u4370u4449u4520u4364u4457u4540-u4352u4469u4523u4352u4467u4536-u4361u4457u4527u4357u4462u4361u4455u4523 .text-29 {
  letter-spacing: -0.80px;
  line-height: 30px;
  min-width: 252px;
  white-space: nowrap;
}
